# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage
/test-ledger

# Next.js
.next/
out/

# Production
build/

# Rust
target/
**/*.rs.bk

# Anchor
.anchor/

# Environments
.env
.env*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Binaries
**/*.bin
**/*.so

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
